table {
    width: 50%;
	border: 12px solid black;
}

td {
    height: 50px;
	width: 50px;
}

ul {
	color:red;
	font-size: 30px;
}

h1 {
    font-style: italic;
}

h2 {
	font-size:60px;
}

#img1 {
	width:200px;
	height:300px;
}

#img2 {
	width:200px;
	height:200px;
}

#img3 {
	width:400px;
	height:400px;
}